eBay数据抓取.yml
app:
  description: 输入Url一键抓取eBay数据
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: eBay数据抓取
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1776843399858-source-1776843570777-target
      source: '1776843399858'
      sourceHandle: source
      target: '1776843570777'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1776843570777-source-1776844636548-target
      source: '1776843570777'
      sourceHandle: source
      target: '1776844636548'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776844636548-source-1776848578575-target
      source: '1776844636548'
      sourceHandle: source
      target: '1776848578575'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 请输入eBay的Url
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: url
      height: 109
      id: '1776843399858'
      position:
        x: 50
        y: 93
      positionAbsolute:
        x: 50
        y: 93
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: url
            ja_JP: url
            pt_BR: url
            zh_Hans: url
          llm_description: ''
          max: null
          min: null
          name: url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          url: ''
        plugin_id: ''
        plugin_unique_identifier: ''
        provider_icon: https://upload.dify.ai/files/ce182835-4e9f-4fde-9ebf-1d360524d38a/file-preview?timestamp=1776843466&nonce=e8042c6faec0711a8807f4e776ce4f94&sign=EZwExpCt4oNtre7tkq9-Q5gUPpIPnGtYnB9Sy1jggu0%3D
        provider_id: bright_data_mcp
        provider_name: bright data 电子商务
        provider_type: mcp
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: web_data_ebay_product
        tool_configurations: {}
        tool_description: 'Quickly read structured ebay product data.

          Requires a valid ebay product URL.

          This can be a cache lookup, so it can be more reliable than scraping'
        tool_label: web_data_ebay_product
        tool_name: web_data_ebay_product
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: '{{#1776843399858.url#}}'
        type: tool
      height: 113
      id: '1776843570777'
      position:
        x: 397.8862938648113
        y: 114
      positionAbsolute:
        x: 397.8862938648113
        y: 114
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4.7
          provider: langgenius/zhipuai/zhipuai
        prompt_config:
          jinja2_variables:
          - value_selector:
            - '1776843570777'
            - json
            value_type: array[object]
            variable: json
        prompt_template:
        - edition_type: basic
          id: 40b975c0-773b-43f4-a5c6-7c5e98374275
          role: system
          text: '你是一个 eBay 商品详情结构化助手。


            你只根据输入的 MCP 原始数据提取字段，不猜测、不补充、不解释。

            输出必须是合法 JSON，不要 Markdown，不要额外说明。


            提取字段：

            title

            price

            currency

            shipping

            condition

            brand

            seller_name

            seller_rating

            seller_reviews

            availability

            item_id

            item_url


            规则：

            1. 缺失字段返回空字符串

            2. price 只保留数字，例如 "$19.99" -> "19.99"

            3. item_url 优先取 url，没有则取 input.url

            4. 只输出 JSON

            '
        - edition_type: jinja2
          id: c6c7921b-0553-4f73-a449-9deaa30350ba
          jinja2_text: '下面是 MCP 返回的 eBay 商品数据数组。

            请逐条提取字段，并返回 JSON 数组。


            商品数据：

            {{ json }}'
          role: user
          text: '{{#1776843570777.text#}}{{#1776843570777.files#}}'
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776844636548'
      position:
        x: 723.1461332801912
        y: 114
      positionAbsolute:
        x: 723.1461332801912
        y: 114
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776844636548.text#}}'
        selected: false
        title: JSON格式回复
        type: answer
        variables: []
      height: 104
      id: '1776848578575'
      position:
        x: 1025.1461332801912
        y: 114
      positionAbsolute:
        x: 1025.1461332801912
        y: 114
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -356.6427726433449
      y: 224.50251788879504
      zoom: 0.6837197717542469
  rag_pipeline_variables: []
